.home-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-items: center;
}

.home-page > img {
  width: 400px;
}

.home-page > button {
  background: var(--background-secondary);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px;
  transition: all ease 0.5s;
}

.home-page > button:hover {
  box-shadow: var(--shadow-default);
  transform: translateY(-1px);
}

.home-page > button:active {
  box-shadow: inset var(--shadow-default);
}

@media (max-width: 576px) {
  .home-page > img {
    width: 80%;
  }
}
