nav,
footer {
  align-items: center;
  box-shadow: var(--shadow-default);
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px;
}

nav {
  border: 1px solid var(--background-secondary);
}

nav > a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

nav > a > img {
  height: 50px;
}

nav > img {
  height: 100%;
  border-radius: 50%;
}

footer {
  background-color: var(--background-secondary);
}

@media (max-width: 576px) {
  nav > img {
    display: none;
  }
}
